.block-card-wrapper {
  max-width: 15rem;
  border-radius: var(--rounded);
  overflow: hidden;
  box-shadow: var(--shadow);
  background: var(--color-gray-100);
}
.block-card-wrapper .k-block-card-copy {
  padding: var(--spacing-2) var(--spacing-3);
}
.block-card-wrapper .k-block-card-copy-heading {
  font-size: var(--text-base);
}
.block-card-wrapper .k-block-card-copy-text {
  font-size: var(--text-base);
}